@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

    transition: all 0.12s ease-in-out;

    text-decoration: none;
}

body {
    background-color: #13111A;

}

.code {
    background-color: #2d2d2d;
    color: #F4F4F4;
    padding: 10px;
    border: 1px solid #757575;
    border-radius: 6px;
    font-family: 'Inconsolata', monospace;
}

p > a {
    color: #0057c8;
}

p > img {
    width: 100%;
}

p > a:hover {
    color: darkblue;
}

a {
    color: #F4F4F4;
}

*::-webkit-scrollbar {
    width: 3px;
}


*::-webkit-scrollbar-thumb {
    background: #454150;
    border-radius: 15px;
}

del {
    text-decoration: line-through;
}

.w-menu {
    z-index: 500 !important;
}
